// Here you can add other styles
.c-sidebar {
    background: #003fa7!important;
}
.c-sidebar .c-sidebar-nav-link:hover {
    background: #002a6c!important;
}
.c-sidebar .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-dropdown-toggle {
    font-weight: 600;
}